body,
table {
  font-family: "Source Sans Pro", sans-serif !important;
}

/* reactstrap modal */
body {
  padding-right: 0 !important;
}

body,
button,
div,
header,
footer,
table,
tr,
td {
  -webkit-transition: background-color 333ms linear;
  -moz-transition: background-color 333ms linear;
  -o-transition: background-color 333ms linear;
  -ms-transition: background-color 333ms linear;
  transition: background-color 333ms linear;
}

.bg-light.card-header {
  background-color: #dbe1e9 !important;
}

.bg-light.card-body,
.bg-light.modal-body {
  background-color: #e8ecf1 !important;
}

.table-light.table > :not(caption) > * > * {
  background-color: #e8ecf1 !important;
}

div {
  overflow: hidden;
}
