* {
  font-family: Ubuntu, sans-serif;
}

/* reactstrap modal */
body {
  padding-right: 0 !important;
}

.card-header {
  padding: 0.5rem 0.5rem;
}

.modal-content {
  background-color: transparent;
}
