* {
  font-family: Ubuntu, sans-serif;
}

/* reactstrap modal */
body {
  padding-right: 0 !important;
}

.card-header {
  padding: 0.5rem 0.5rem;
}

body,
button,
div,
header,
footer,
table,
tr,
td {
  -webkit-transition: background-color 99ms linear;
  -moz-transition: background-color 99ms linear;
  -o-transition: background-color 99ms linear;
  -ms-transition: background-color 99ms linear;
  transition: background-color 99ms linear;
}

.bg-light.card-header {
  background-color: #dbe1e9 !important;
}

.bg-light.card-body,
.bg-light.modal-body {
  background-color: #e8ecf1 !important;
}

.table-light.table > :not(caption) > * > * {
  background-color: #e8ecf1 !important;
}
